[configuration]
#enablerealtimeupdates controls if the server will be updated in real time or not. If it is false, the server will be updated only when the DCS server is restarted.
enablerealtimeupdates = False
#enablewebdavfetching controls if the webdav server is used to fetch the lua files or not. If it is false, only the present lua files in the source directory will be used.
enablewebdavfetching = False
#enableweatherchanges controls if the weather will be changed or not.
#If enablewebdavfetching is false, you have to put an mission.miz file in /src/util/realweather/Active directory manually.
enableweatherchanges = False

#Following values only apply when enableweatherchanges = True:
icao = UGSB
update-time = False
#enablemizfilefetching controls if miz file is fetched from the server or not. If it is false, the active_mission file in /src/util/realweather/Active will be used.
enablemizfilefetching = False