[configuration]
#enablerealtimeupdates controls if the stats will be updated in real time or not. If it is false, the stats will be updated only when the DCS server is restarted.
enablerealtimeupdates = False

[realweather]
#enableweatherchanges controls if the weather will be changed or not.
#If enablewebdavfetching is false, you have to put an mission.miz file in /src/util/realweather/Active directory manually.
enableweatherchanges = False
#webdavmission controls if miz file is fetched from the server or not. If it is false, the active_mission file in /src/util/realweather/Active will be used.
webdavmission = False
#Following values only apply when enableweatherchanges = True:
icao = UGSB

[webdav]
#controls if files are fetched from the webdav server or not. If it is false, loval files will be used.
enablewebdav = False

[authentication]
#enables a simple authentication that checks a base64 encoded date value in the request. Not very secure, only to prevent crawlers.
enablesimpleauth = False

[localfiles]
slmodstatsluapath = ./SlmodStats.lua
